In [2]:
l=[1,2,3,4,5]
for i in l:
    print(i , type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [3]:
l1=["mohit","bhade","aniket","pawar"]
for i in l1:
    print(i)

mohit
bhade
aniket
pawar

In [4]:
# FOR ELSE : PYTHON PROVIDE for else also
for i in l1:
    print(i)
else:
    print("else block will only execute when for loop gets completed")

mohit
bhade
aniket
pawar
else block will only execute when for loop gets completed

In [7]:
# BREAK : IT WILL BREAK THE  LOOP  FOR THE GIVEN CONDITION IS GET MATCH
for i in l1 :
    if i=="aniket":
        break
    print(i)

mohit
bhade

In [22]:
l1
len(l1)

4

In [9]:
for i in l1:
    if i == "bhade":
        break
    print(i)
else:
    print("execute else if for loop gets completed")

mohit

In [10]:
l1

['mohit', 'bhade', 'aniket', 'pawar']

In [11]:
# CONTINUE : IT WILL SKIP THE PARTICULAR STATEMENT IN THE LOOP
for i in l1 :
    if i=="aniket":
        continue
    print(i)

mohit
bhade
pawar

In [13]:
l1

['mohit', 'bhade', 'aniket', 'pawar']

In [15]:
for i in l1:
    if i == "bhade":
        continue
    print(i)
else:
    print("execute else if for loop gets completed")

mohit
aniket
pawar
execute else if for loop gets completed

In [16]:
#RANGE FUNCTION : Return an object that produces a sequence of integers from start (inclusive)
#to stop (exclusive) by step.  range(i, j) produces i, i+1, i+2, ..., j-1.
#start defaults to 0, and stop is omitted!  range(4) produces 0, 1, 2, 3.
#These are exactly the valid indices for a list of 4 elements.
#When step is given, it specifies the increment (or decrement)
#range()

range(5)

range(0, 5)

In [17]:
list(range(10))

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [18]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [19]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [20]:
l1

['mohit', 'bhade', 'aniket', 'pawar']

In [26]:
# PRINT THE LIST IN REVERSE ORDER USING RANGE FUNCTION
list(range(len(l1)))
list(range(len(l1)-1,-1,-1))

[3, 2, 1, 0]

In [28]:
for i in range(len(l1)-1,-1,-1):
    print(l1[i])

pawar
aniket
bhade
mohit

In [33]:
l2=[1,2,33,4,32,43,5,46,567,54,34,]
list(range(0,len(l2),2))

[0, 2, 4, 6, 8, 10]

In [34]:
#print even places digit
l2=[1,2,33,4,32,43,5,46,567,54,34,]
for i in range(0,len(l2),2):
    print(l2[i])

1
33
32
5
567
34

In [35]:
#print odd places digit
l2=[1,2,33,4,32,43,5,46,567,54,34,]
for i in range(1,len(l2),2):
    print(l2[i])

2
4
43
46
54

In [42]:
#sum of digits in the list
l2=[1,2,33,4,32,43,5,46,567,54,34]
sum(l2)

TypeError: 'int' object is not callable

In [40]:
su=0
l2=[1,2,33,4,32,43,5,46,567,54,34]
for i in range(0,len(l2),1):
    su=su+l2[i]
print(su)

821

In [43]:
tp=(1,34+3j,"mohit",123.23,False,[1,2,3])
for i in range(0,len(tp),1):
    print(tp[i])

1
(34+3j)
mohit
123.23
False
[1, 2, 3]

In [50]:
tp1={1,10,34+3j,"mohit",123.23,False,1,2,3}
for i in tp1:
    print(i)

False
1
2
3
10
(34+3j)
mohit
123.23

In [51]:
m="mohit"
for i in m:
    print(i)

m
o
h
i
t

In [52]:
d5={"num":[1,2,3,4,5],"assingment":(12,34,56),"launch date":{12:"dsa",31:"data science",2:"java"}}

In [53]:
d5

{'num': [1, 2, 3, 4, 5],
 'assingment': (12, 34, 56),
 'launch date': {12: 'dsa', 31: 'data science', 2: 'java'}}

In [55]:
for i in d5.keys():
    print(i)

num
assingment
launch date

In [56]:
d5

{'num': [1, 2, 3, 4, 5],
 'assingment': (12, 34, 56),
 'launch date': {12: 'dsa', 31: 'data science', 2: 'java'}}

In [57]:
for  i in d5.values():
    print(i)

[1, 2, 3, 4, 5]
(12, 34, 56)
{12: 'dsa', 31: 'data science', 2: 'java'}

In [58]:
d5

{'num': [1, 2, 3, 4, 5],
 'assingment': (12, 34, 56),
 'launch date': {12: 'dsa', 31: 'data science', 2: 'java'}}

In [60]:
for i in d5.items():
    print(list(i))

['num', [1, 2, 3, 4, 5]]
['assingment', (12, 34, 56)]
['launch date', {12: 'dsa', 31: 'data science', 2: 'java'}]